<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Este es el resultado'
my_string2 = "de editar el notebook original."
print(my_string1 + ' ' + my_string2) #Show in screen the output

Este es el resultado de editar el notebook original.

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 2022 #Year
print(my_int)
print(type(my_int))

2022
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "025026" #Check if there is an error
print(type(my_string))
my_int = int(my_string)
print(type(my_int)) #No error

<class 'str'>
<class 'int'>
25026

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "1001"
my_float = float(my_string)
print(type(my_float))
print(my_float)
flo=65.62583
print(type(flo))
print(flo)

<class 'float'>
1001.0
<class 'float'>
65.62583

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
mybool = True
print(mybool)
print(type(mybool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Adicion ", 15+4)
print("Resta ", 5-22)
print("Multiplicacion ", 23*32)
print("Division ", 229/35)
print("Division Entera", 229//35)
print('Potenciacion', 10**10)

Adicion  19
Resta  -17
Multiplicacion  736
Division  6.542857142857143
Division Entera 6
Potenciacion 10000000000

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(10/35)
print(1.0/3.5)

0.2857142857142857
0.2857142857142857

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ["Juan", "Jose", "Figueroa"]# List with my names
print(my_list)

['Juan', 'Jose', 'Figueroa']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ["String type", 'c', 1, 2.2, False]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
String type
False

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['a','b','c','d','e']
my_list[2] = 'g' #Change the position 2 of the list with character 'g'
print(my_list)

['a', 'b', 'g', 'd', 'e']

A list can also be sliced with a colon:

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[3:6])

[4, 5, 6]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[:-2])

[1, 2, 3, 4, 5, 6, 7]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[7:])

[8, 9]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = [0.1, 0.2]
my_list.append(0.3)
print(my_list)

[0.1, 0.2, 0.3]

In [ ]:
my_list.remove(0.2)
print(my_list)

[0.1, 0.3]

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ("Tuple","of","4", "elemetns")

Just like a list, a tuple can be sliced by using index.

In [ ]:
print(my_tuple[1:])

('of', '4', 'elemetns')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
list_example = ['A','F','I','C','A','B','F','I','i']
set_example = set(list_example)
print(set_example)

{'i', 'F', 'I', 'C', 'A', 'B'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {"Sun":"Star", "FB":"FaceBook", "Earth":"Planet", "Fifa":"VideoGame"}

In [ ]:
print(my_dic["Earth"])
print(my_dic["Sun"])

Planet
Star

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic["Movie"] = "Porco Rosso"
print(my_dic["Movie"])

Porco Rosso

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['Sun', 'FB', 'Earth', 'Fifa', 'Movie'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'This notebook was changed by JJFP for the course of algorithms.'
print(my_str[:-11])

This notebook was changed by JJFP for the course of

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print("Se creen jefes de este Edén, que les den, herejes".count('e')) #Count number of 'e' on the sentence.
print("Yo no compongo con porros".find('p')) #First position where 'p' is located on the sentence.
print('Trabaja, plasma las palabras, hazlas balas'.replace('r','l')) #Replace 'r' with 'l'.

14
9
Tlabaja, plasma las palablas, hazlas balas

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
import time
Time = time.ctime(time.time()) #String of the actual computer time.
#It uses two functions of the time library:
#time: actual computer time in integer form.
#ctime: transform the integer form of the time into a clear string.
splited_list = Time.split(' ') #Separate the string by spaces (' ').
day = splited_list[0] #First position of list.
month = splited_list[1] #Second position of list.
print(day, month)
hour = Time[11:] #Precise hour
print(hour)

Sun Aug
01:35:36 2022

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
our_classroom = 'Edificio: {}, Salon:{}'.format(406,104) #Fill the gaps ('{}') with the corresponding .format() info
print(our_classroom)

Edificio: 406, Salon:104

Another way to format a string is to use the % symbol.

In [ ]:
from math import e #Import a library or a specific command of a library
print('the e number is %f'%e)
print('%s de %s'%("Este es el formato","C"))

the e number is 2.718282
Este es el formato de C

# Summary

We have seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print('^' == '^')
print("sys" == "ysy")
print(345 != 345.0)
print(12 >= 13)
print(12.0 >= 11.9)

True
False
False
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2**2 > 2**3 and 90 > 3**4)
print(2**4 == 16 or 22 < 23) 
print('a' != ord('a') and 'abc' < 'acb')
print(2 <= 1 and 3 == 2)

False
True
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print(not(False and True) or (True and not False))
print(("Key" > "Layton" or "Layton" < "Phoenix") and (325 == 5**4))

True
False

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
l = []
if len(l) == 0:
    print('l is an empty list')

l is an empty list

As we mentioned above, we can write some complex statements here:

In [ ]:
p = False
q = True
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 10
while i > 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
from random import randrange as rd #Para generar numeros de forma aleatoria
for i in [rd(1,10),rd(1,10),rd(1,10),rd(1,10),rd(1,10)]: #rd genera un numero aleatorio dentro de un rango dado
    print(i)

7
8
6
9
2

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
n = 2022
l = []
#We get base 2 form of n
while True:
  l.insert(-1,n%2)
  if n == 0 or n == 1:
    break
  n=n//2
c = 0
#Count the number of '1' on the expansion
for i in l:
    if i == 1:
      c+=1
print("The number of '1' in n is:", c)

[1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0]
The number of '1' in n is: 8

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
a = "a"*21 + "b" + "c"*11
print(a)
c = 0
for i in a:
  c+=1
  if i == 'b':
    print("b founded in position",c)
    break

aaaaaaaaaaaaaaaaaaaaabccccccccccc
b founded in position 22

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['A','b','c','d','e','f', 'g', 'h']
for i in stocks:
    if i == 'c' or i == 'h':
        continue
    print(i)

A
b
d
e
f
g

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a new list for loop:

In [ ]:
results = []
for i in [2,4,6,8,10]:
  results.append(i+(i+1)**2)
print(results)

[11, 29, 55, 89, 131]

Using list comprehension:

In [ ]:
list = [2,4,6,8,10]
results = [x+(x+1)**2 for x in list]
print(results)

[11, 29, 55, 89, 131]

Recall the example above where we used a for loop to select l. Here we use list comprehension:

In [ ]:
stocks = "En algun lugar de la Mancha, cuyo nombre no puedo acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor."
selected = ['n', 'a', 'l', ' ', '.', ',']
new_set = set(x for x in stocks if x not in selected)
print(new_set)

{'y', 't', 'i', 'c', 'r', 'z', 'f', 'e', 'g', 'd', 'o', 'h', 'q', 'E', 's', 'M', 'v', 'b', 'u', 'm', 'p', 'í'}

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
l1 = [2,4,6,8,10]
l2 = [1,2,3,4,5,6,7,8,9,0]
print([(x, y) for x in l1 for y in l2 if (x+y not in l1) and (x+y not in l2)])

[(2, 9), (4, 7), (4, 8), (4, 9), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (10, 1), (10, 2), (10, 3), (10, 4), (10, 5), (10, 6), (10, 7), (10, 8), (10, 9)]

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def operation(x,y,z):
    return (x+y)**z
print(operation(2,3,5))
print(operation(5,10,2))

3125
225

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def f():
    print('Starting the III tutorial.')
f()

Starting the III tutorial.

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(5))
print(range(22,52))
print(range(100,50,100000))

range(0, 5)
range(22, 52)
range(100, 50, 100000)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
l = [1,0,1,1,0,0,0,1,0]
print('The length of base form number is {}'.format(len(l)))
for i in range(len(l)):
    print(l[i] , end = "")

The length of base form number is 9
101100010

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
def f(x):
  return 3*x+1
list(map(f,l))

[4, 1, 4, 4, 1, 1, 1, 4, 1]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: 2*x+x**2, range(15)))

[0, 3, 8, 15, 24, 35, 48, 63, 80, 99, 120, 143, 168, 195, 224]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x**2+y**2, [0.1,0.2,0.3,0.4,0.5],[5.1,7.1,9.1,3.1,11.1])) #Floating point error example as well

[26.02, 50.449999999999996, 82.89999999999999, 9.770000000000001, 123.46]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
from random import randrange as rd
sorted([rd(10,30),rd(10,30),rd(10,30),rd(10,30),rd(10,30),rd(10,30)])

[10, 10, 11, 12, 16, 27]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
country_list = [('Bogota',"Colombia"),('Buenos Aires',"Argentina"),('Tailin',"Estonia"),('Banjul',"Gambia"),('Freetown',"Sierra Leona")]
sorted(country_list, key = lambda x: x[0])

[('Banjul', 'Gambia'),
 ('Bogota', 'Colombia'),
 ('Buenos Aires', 'Argentina'),
 ('Freetown', 'Sierra Leona'),
 ('Tailin', 'Estonia')]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
print(sorted(country_list, key = lambda x: x[1],reverse = True))
print(country_list) #Compare

[('Freetown', 'Sierra Leona'), ('Banjul', 'Gambia'), ('Tailin', 'Estonia'), ('Bogota', 'Colombia'), ('Buenos Aires', 'Argentina')]
[('Buenos Aires', 'Argentina'), ('Bogota', 'Colombia'), ('Tailin', 'Estonia'), ('Banjul', 'Gambia'), ('Freetown', 'Sierra Leona')]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
country_list.sort(key = lambda x: x[1])
print(country_list)

[('Buenos Aires', 'Argentina'), ('Bogota', 'Colombia'), ('Tailin', 'Estonia'), ('Banjul', 'Gambia'), ('Freetown', 'Sierra Leona')]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Jumbo" here:

In [2]:
class Jumbo:
    def __init__(self, products, open):
        self.products = products
        self.open = open
 
    def update_open(self, open):
        self.open = open
    
    def update_products(self, product):
      if product not in self.products:
        return "Product sold out"
      else:
        self.products.remove(product)

The "Jumbo" class has attributes "products" and "open". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Jumbo" object. The purpose of this method is to set up a new "Jumbo" object using data we have provided.

Here we create two Jumbo objects named "Hayuelos" and "El_Eden".

In [3]:
Hayuelos = Jumbo(["chips", "soap", "clothes", "fish"], True)
El_Eden = Jumbo(["chips", "soap", "clothes", "fish", "tablets"], True)

Jumbo objects also have two other methods: update_open() and update_products(). We can access the attribues of a Jumbo object and call its methods:

In [4]:
print(Hayuelos.products)
print(El_Eden.products)
Hayuelos.update_products("soap") #Use the method "update_products" of the class "Jumbo" to check and delete the element from the list
Hayuelos.update_products("soap") #Repeat
print(Hayuelos.products) #Access the object atribute "products" that is a list
print(El_Eden.open) #Access the object atribute "open" that is a bool

['chips', 'soap', 'clothes', 'fish']
['chips', 'soap', 'clothes', 'fish', 'tablets']
['chips', 'clothes', 'fish']
True

By calling the update_open() function, we updated the open and close quality of Jumbo market. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [8]:
Hayuelos.owner = 'Cencosud' #Define new atribute for that specific object
Hayuelos.owner

'Cencosud'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(Hayuelos)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'open',
 'products',
 'update_open',
 'update_products']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Jumbo":

In [9]:
class child(Jumbo):
    def __init__(self,name):
        self.name = name

In [10]:
aa = child('Paloquemao')
print(aa.name)
aa.update_open(False)
print(aa.open)

Paloquemao
False

As seen above, the new class Child has inherited the methods from Jumbo.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [113]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [116]:
num_list = [143.02, 145.02, 144.04, 144.02, 142.01, 142.001]
num_array = np.array(num_list) #Create numpy array
print(num_array, type(num_array))

[143.02  145.02  144.04  144.02  142.01  142.001] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [117]:
Ar = np.array([[0,0],[0,1]]) #Create numpy matrix
print(Ar, type(Ar))

[[0 0]
 [0 1]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [118]:
print(Ar.shape) #.shape is the dimension of the numpy array

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [119]:
print(Ar[0])
print(Ar[1][1])

[0 0]
1

If we want to access the matrix by column instead:

In [120]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [0 0]
the second column:  [0 1]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [121]:
print(np.log(num_array)) #Log in every entry of the array

[4.96298448 4.97687166 4.97009104 4.96995218 4.95589748 4.9558341 ]

Other functions return a single value:

In [122]:
print(np.mean(num_array)) #Calculate (a1+a2+...+an)/n of the data in the array
print(np.std(num_array)) #Calculate standard deviation (sqrt(sum(|x-mean|^2)/n)) of the data in the array
print(np.sum(num_array)) #Sum the elements of the array
print(np.max(num_array)) #Obtain the maximun value of the array

143.35183333333333
1.1134167259187202
860.111
145.02

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [123]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [124]:
serie_example = num_list
s = pd.Series(serie_example) #Print the labeled array
s

0    143.020
1    145.020
2    144.040
3    144.020
4    142.010
5    142.001
dtype: float64

We can customize the indices of a new Series:

In [125]:
s = pd.Series(serie_example,index = ['a','b','c','d','e','f']) #Print labeled array with different labels
s

a    143.020
b    145.020
c    144.040
d    144.020
e    142.010
f    142.001
dtype: float64

Or we can change the indices of an existing Series:

In [126]:
s.index = [6,5,4,3,2,1] #Change indexes of the labeled array
s

6    143.020
5    145.020
4    144.040
3    144.020
2    142.010
1    142.001
dtype: float64

Series is like a list since it can be sliced by index:

In [127]:
print(s[1:])
print(s[:-2])

5    145.020
4    144.040
3    144.020
2    142.010
1    142.001
dtype: float64
6    143.02
5    145.02
4    144.04
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [128]:
print(s[4])
s[4] = 10
print(s)

144.04
6    143.020
5    145.020
4     10.000
3    144.020
2    142.010
1    142.001
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [129]:
s = pd.Series(serie_example, name = 'PS4 games price example') #Name for series
print(s)
print(s.name) #Name for series

0    143.020
1    145.020
2    144.040
3    144.020
4    142.010
5    142.001
Name: PS4 games price example, dtype: float64
PS4 games price example

We can get the statistical summaries of a Series:

In [130]:
print(s.describe()) #Function to obtain statistical information of a normal distribution with the series data

count      6.000000
mean     143.351833
std        1.219687
min      142.001000
25%      142.262500
50%      143.520000
75%      144.035000
max      145.020000
Name: PS4 games price example, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [131]:
time_index = pd.date_range('2022-08-22',periods = len(s),freq = 'D') #Function to create a tiome index variable
print(time_index)
print("------")
s.index = time_index #index a series with a time index
print(s)

DatetimeIndex(['2022-08-22', '2022-08-23', '2022-08-24', '2022-08-25',
               '2022-08-26', '2022-08-27'],
              dtype='datetime64[ns]', freq='D')
------
2022-08-22    143.020
2022-08-23    145.020
2022-08-24    144.040
2022-08-25    144.020
2022-08-26    142.010
2022-08-27    142.001
Freq: D, Name: PS4 games price example, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [132]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[4])

6    143.020
5    145.020
4    144.040
3    144.020
2    142.010
1    142.001
Name: PS4 games price example, dtype: float64
144.04

If we intended to take the 5th element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [133]:
print(s.iloc[4]) #5th element of the array

142.01

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [135]:
s.index = time_index #setting numpy array index as time index
print(s['2022-08-22'])

143.02

We can even access to a range of dates:

In [136]:
print(s['2017-08-22':'2022-08-25']) #Range of the array using time index

2022-08-22    143.02
2022-08-23    145.02
2022-08-24    144.04
2022-08-25    144.02
Freq: D, Name: PS4 games price example, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [138]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])
#Use of logical operators inside the numpy operations in arrays

2022-08-22    143.020
2022-08-26    142.010
2022-08-27    142.001
Name: PS4 games price example, dtype: float64
[2022-08-22    False
2022-08-23     True
2022-08-24     True
2022-08-25     True
2022-08-26    False
2022-08-27    False
Freq: D, Name: PS4 games price example, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [139]:
import yfinance as yf

ex = yf.Ticker("AAPL")

# get ex info
print(ex.info)

# get historical market data
ex_table = ex.history(start="2016-01-01",  end="2022-01-31")
ex_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 171.52, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.76, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.297, 'beta3Year': None, 'enterpriseToEbitda': 21.828, '52WeekChange': 0.14568162, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59714, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.05, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.056043804, 'priceToBook': 47.512466, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2827915362304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 7.1126842, 'dateShortInterest': 1659052800, 'pegRatio': 3.01, 'ytdReturn': None, 'forwardPE': 26.633541, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 174.15, 'regularMarketOpen': 173.03, 'twoHundredDayAverage': 160.461, 'trailingAnnualDividendYield': 0.005110537, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 173.74, 'navPrice': None, 'averageDailyVolume10Day': 64119090, 'regularMarketPreviousClose': 174.15, 'fiftyDayAverage': 151.3188, 'trailingAnnualDividendRate': 0.89, 'open': 173.03, 'toCurrency': None, 'averageVolume10days': 64119090, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 171.3101, 'currency': 'USD', 'trailingPE': 28.350412, 'regularMarketVolume': 70346295, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2756463820800, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76763275, 'dayLow': 171.3101, 'ask': 170.75, 'askSize': 900, 'volume': 70346295, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 170.71, 'tradeable': False, 'dividendYield': 0.0054, 'bidSize': 900, 'dayHigh': 173.74, 'coinMarketCapLink': None, 'regularMarketPrice': 171.52, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.1143}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523350,24.156081,23.383508,24.151495,270597600,0.0,0.0
2016-01-05,24.243195,24.266119,23.477500,23.546274,223164000,0.0,0.0
2016-01-06,23.053389,23.468333,22.895207,23.085484,273829600,0.0,0.0
2016-01-07,22.622400,22.954812,22.106587,22.111172,324377600,0.0,0.0
2016-01-08,22.592595,22.720974,22.182237,22.228086,283192000,0.0,0.0
...,...,...,...,...,...,...,...
2022-01-24,159.360567,161.631170,154.062483,160.953964,162294600,0.0,0.0
2022-01-25,158.324830,162.089251,156.372916,159.121536,115798400,0.0,0.0
2022-01-26,162.826218,163.712550,157.169633,159.031921,108275300,0.0,0.0
2022-01-27,161.780543,163.164814,157.627729,158.563858,121954600,0.0,0.0
2022-01-28,165.027126,169.648004,162.129114,169.628082,179935700,0.0,0.0

We will create a Series named "s_ex" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [140]:
sr_ex = ex_table['Close']['2020']

In [141]:
print(sr_ex)

Date
2020-01-02     73.683556
2020-01-03     72.967216
2020-01-06     73.548622
2020-01-07     73.202713
2020-01-08     74.380287
                 ...
2020-12-24    130.620911
2020-12-28    135.292679
2020-12-29    133.491257
2020-12-30    132.352997
2020-12-31    131.333542
Name: Close, Length: 253, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [142]:
print(sr_ex['2020-2'])

Date
2020-02-03    75.722229
2020-02-04    78.222092
2020-02-05    78.859940
2020-02-06    79.782372
2020-02-07    78.697906
2020-02-10    79.071678
2020-02-11    78.594612
2020-02-12    80.461067
2020-02-13    79.888084
2020-02-14    79.907776
2020-02-18    78.444611
2020-02-19    79.580719
2020-02-20    78.764297
2020-02-21    76.981461
2020-02-24    73.324814
2020-02-25    70.841133
2020-02-26    71.964951
2020-02-27    67.260719
2020-02-28    67.221375
Name: Close, dtype: float64

In [143]:
sr_ex['2020-2':'2020-4']

Date
2020-02-03    75.722229
2020-02-04    78.222092
2020-02-05    78.859940
2020-02-06    79.782372
2020-02-07    78.697906
                ...
2020-04-24    69.584557
2020-04-27    69.633743
2020-04-28    68.505020
2020-04-29    70.755081
2020-04-30    72.247734
Name: Close, Length: 62, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [144]:
print(sr_ex.head(5)) #Acces 5 first elements beginning from the head
print(sr_ex.tail(10)) #Acces 10 last elements

Date
2020-01-02    73.683556
2020-01-03    72.967216
2020-01-06    73.548622
2020-01-07    73.202713
2020-01-08    74.380287
Name: Close, dtype: float64
Date
2020-12-17    127.384331
2020-12-18    125.365189
2020-12-21    126.919128
2020-12-22    130.531815
2020-12-23    129.621216
2020-12-24    130.620911
2020-12-28    135.292679
2020-12-29    133.491257
2020-12-30    132.352997
2020-12-31    131.333542
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [146]:
by_month = sr_ex.resample('M').mean() #Resmaple
print(by_month)

Date
2020-01-31     76.521044
2020-02-29     76.504833
2020-03-31     64.537073
2020-04-30     66.981913
2020-05-31     76.384835
2020-06-30     85.266707
2020-07-31     94.256444
2020-08-31    115.863197
2020-09-30    113.752087
2020-10-31    115.024673
2020-11-30    115.593087
2020-12-31    125.989193
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [147]:
by_week = sr_ex.resample('W').mean() #resample and then obtain the mean
print(by_week.head())

Date
2020-01-05    73.325386
2020-01-12    74.644745
2020-01-19    77.275128
2020-01-26    78.001907
2020-02-02    77.736832
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [149]:
sr_ex.resample('M').max() #Resample and the obtain the maximun value

Date
2020-01-31     79.568916
2020-02-29     80.461067
2020-03-31     74.446152
2020-04-30     72.247734
2020-05-31     78.713684
2020-06-30     90.376610
2020-07-31    104.803627
2020-08-31    127.500862
2020-09-30    132.579590
2020-10-31    122.916229
2020-11-30    119.070206
2020-12-31    135.292679
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [150]:
three_day = sr_ex.resample('3D').mean()
two_week = sr_ex.resample('2W').mean()
two_month = sr_ex.resample('2M').mean()
#Using different frequency formats such as 3Days, 2Weeks, 2Months

print(three_day)
print(two_week)
print(two_month )

Date
2020-01-02     73.325386
2020-01-05     73.375668
2020-01-08     75.490796
2020-01-11     77.758408
2020-01-14     76.808192
                 ...
2020-12-18    125.365189
2020-12-21    129.024053
2020-12-24    130.620911
2020-12-27    134.391968
2020-12-30    131.843269
Freq: 3D, Name: Close, Length: 122, dtype: float64
Date
2020-01-05     73.325386
2020-01-19     75.959937
2020-02-02     77.854643
2020-02-16     78.920776
2020-03-01     73.820453
2020-03-15     69.492585
2020-03-29     59.969806
2020-04-12     62.633011
2020-04-26     68.697319
2020-05-10     72.257811
2020-05-24     77.285776
2020-06-07     79.318882
2020-06-21     85.144312
2020-07-05     89.279632
2020-07-19     94.364688
2020-08-02     95.043509
2020-08-16    110.457963
2020-08-30    120.104664
2020-09-13    119.896012
2020-09-27    109.648389
2020-10-11    113.761733
2020-10-25    117.340534
2020-11-08    112.552808
2020-11-22    117.184676
2020-12-06    117.858270
2020-12-20    123.562798
2021-01-03    131.270443
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2020-01-31     76.521044
2020-03-31     70.083108
2020-05-31     71.568704
2020-07-31     89.761575
2020-09-30    114.807642
2020-11-30    115.295346
2021-01-31    125.989193
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [151]:
std = sr_ex.resample('W').std()
max = sr_ex.resample('W').max()
min = sr_ex.resample('W').min()
#Probability functions

print(std)
print(max)
print(min)

Date
2020-01-05    0.506528
2020-01-12    1.350272
2020-01-19    0.741980
2020-01-26    0.273719
2020-02-02    1.829153
2020-02-09    1.525695
2020-02-16    0.742951
2020-02-23    1.085317
2020-03-01    2.773634
2020-03-08    1.484151
2020-03-15    3.510007
2020-03-22    2.142726
2020-03-29    3.053377
2020-04-05    1.678652
2020-04-12    0.935633
2020-04-19    1.385868
2020-04-26    1.280978
2020-05-03    1.429750
2020-05-10    1.650105
2020-05-17    0.757167
2020-05-24    0.639236
2020-05-31    0.171767
2020-06-07    0.970550
2020-06-14    1.897286
2020-06-21    0.941766
2020-06-28    1.262323
2020-07-05    0.325641
2020-07-12    1.292494
2020-07-19    0.827079
2020-07-26    2.649243
2020-08-02    5.149173
2020-08-09    1.921801
2020-08-16    2.258210
2020-08-23    3.918861
2020-08-30    0.749732
2020-09-06    6.022050
2020-09-13    2.327096
2020-09-20    3.603778
2020-09-27    2.203623
2020-10-04    1.447832
2020-10-11    1.478757
2020-10-18    1.926573
2020-10-25    0.957592
2020-11-01    3.205538
2020-11-08    4.669084
2020-11-15    1.728753
2020-11-22    1.142561
2020-11-29    1.180563
2020-12-06    1.666025
2020-12-13    1.026019
2020-12-20    2.743967
2020-12-27    1.729463
2021-01-03    1.696867
Freq: W-SUN, Name: Close, dtype: float64
Date
2020-01-05     73.683556
2020-01-12     76.131912
2020-01-19     78.192657
2020-01-26     78.315300
2020-02-02     79.568916
2020-02-09     79.782372
2020-02-16     80.461067
2020-02-23     79.580719
2020-03-01     73.324814
2020-03-08     74.446152
2020-03-15     70.167343
2020-03-22     62.180267
2020-03-29     63.552437
2020-04-05     62.659786
2020-04-12     65.900841
2020-04-19     70.587860
2020-04-26     69.584557
2020-05-03     72.247734
2020-05-10     76.469864
2020-05-17     77.673141
2020-05-24     78.713684
2020-05-31     78.472031
2020-06-07     81.739136
2020-06-14     87.001015
2020-06-21     86.813606
2020-06-28     90.376610
2020-07-05     89.950035
2020-07-12     94.605354
2020-07-19     96.385605
2020-07-26     97.009438
2020-08-02    104.803627
2020-08-09    112.341385
2020-08-16    113.638222
2020-08-23    122.886581
2020-08-30    125.013412
2020-09-06    132.579590
2020-09-13    115.920677
2020-09-20    114.161911
2020-09-27    110.940788
2020-10-04    115.397003
2020-10-11    115.574844
2020-10-18    122.916229
2020-10-25    116.108414
2020-11-01    115.209259
2020-11-08    117.610275
2020-11-15    118.268471
2020-11-22    119.070206
2020-11-29    115.398109
2020-12-06    121.821777
2020-12-13    123.108490
2020-12-20    127.384331
2020-12-27    130.620911
2021-01-03    135.292679
Freq: W-SUN, Name: Close, dtype: float64
Date
2020-01-05     72.967216
2020-01-12     73.202713
2020-01-19     76.379692
2020-01-26     77.662758
2020-02-02     75.793365
2020-02-09     75.722229
2020-02-16     78.594612
2020-02-23     76.981461
2020-03-01     67.221375
2020-03-08     71.074745
2020-03-15     61.041714
2020-03-22     56.371929
2020-03-29     55.174355
2020-04-05     59.241673
2020-04-12     63.795883
2020-04-19     67.194321
2020-04-26     65.994293
2020-05-03     68.505020
2020-05-10     72.090363
2020-05-17     75.858353
2020-05-24     77.212051
2020-05-31     78.097252
2020-06-07     79.359711
2020-06-14     82.222412
2020-06-21     84.572258
2020-06-28     87.195808
2020-07-05     89.205391
2020-07-12     91.895493
2020-07-19     94.168900
2020-07-26     91.345650
2020-08-02     91.974419
2020-08-09    107.444427
2020-08-16    108.070435
2020-08-23    113.240524
2020-08-30    123.318863
2020-09-06    119.438202
2020-09-13    110.664124
2020-09-20    105.565666
2020-09-27    105.842339
2020-10-04    111.671967
2020-10-11    111.810287
2020-10-18    117.600395
2020-10-25    113.667870
2020-11-01    107.561592
2020-11-08    107.472656
2020-11-15    114.784470
2020-11-22    116.140457
2020-11-29    112.686127
2020-12-06    117.832977
2020-12-13    120.535065
2020-12-20    120.535065
2020-12-27    126.919128
2021-01-03    131.333542
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [152]:
last_day = sr_ex.resample('M').agg(lambda x: x[-1]) #Resample and use a lambda function to operate in the labeled array
print(last_day)

Date
2020-01-31     75.930740
2020-02-29     67.221375
2020-03-31     62.531914
2020-04-30     72.247734
2020-05-31     78.395599
2020-06-30     89.950035
2020-07-31    104.803627
2020-08-31    127.500862
2020-09-30    114.428673
2020-10-31    107.561592
2020-11-30    117.832977
2020-12-31    131.333542
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [153]:
monthly_return = sr_ex.resample('M').agg(lambda x: x[-1]/x[0] - 1) #Same as above but with monhts
print(monthly_return)

Date
2020-01-31    0.030498
2020-02-29   -0.112264
2020-03-31   -0.148991
2020-04-30    0.219542
2020-05-31    0.102849
2020-06-30    0.133447
2020-07-31    0.167340
2020-08-31    0.186668
2020-09-30   -0.136906
2020-10-31   -0.067900
2020-11-30    0.096400
2020-12-31    0.081242
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [154]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.045993788721983835
0.131088313465405
0.2195424437159692

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [155]:
print(last_day.diff()) #Consecutive differences between elements
print(last_day.pct_change()) #Change of percentage

Date
2020-01-31          NaN
2020-02-29    -8.709366
2020-03-31    -4.689461
2020-04-30     9.715820
2020-05-31     6.147865
2020-06-30    11.554436
2020-07-31    14.853592
2020-08-31    22.697235
2020-09-30   -13.072189
2020-10-31    -6.867081
2020-11-30    10.271385
2020-12-31    13.500565
Freq: M, Name: Close, dtype: float64
Date
2020-01-31         NaN
2020-02-29   -0.114701
2020-03-31   -0.069761
2020-04-30    0.155374
2020-05-31    0.085094
2020-06-30    0.147386
2020-07-31    0.165132
2020-08-31    0.216569
2020-09-30   -0.102526
2020-10-31   -0.060012
2020-11-30    0.095493
2020-12-31    0.114574
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [156]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2020-01-31    0.000000
2020-02-29   -0.114701
2020-03-31   -0.069761
2020-04-30    0.155374
2020-05-31    0.085094
2020-06-30    0.147386
2020-07-31    0.165132
2020-08-31    0.216569
2020-09-30   -0.102526
2020-10-31   -0.060012
2020-11-30    0.095493
2020-12-31    0.114574
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [158]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill')) #Backward or fill forward methods

Date
2020-01-31   -0.114701
2020-02-29   -0.114701
2020-03-31   -0.069761
2020-04-30    0.155374
2020-05-31    0.085094
2020-06-30    0.147386
2020-07-31    0.165132
2020-08-31    0.216569
2020-09-30   -0.102526
2020-10-31   -0.060012
2020-11-30    0.095493
2020-12-31    0.114574
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [159]:
daily_return = last_day.pct_change() #Remove NaN values
daily_return.dropna()

Date
2020-02-29   -0.114701
2020-03-31   -0.069761
2020-04-30    0.155374
2020-05-31    0.085094
2020-06-30    0.147386
2020-07-31    0.165132
2020-08-31    0.216569
2020-09-30   -0.102526
2020-10-31   -0.060012
2020-11-30    0.095493
2020-12-31    0.114574
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [161]:
import pandas as pd

dict = {'A': [143.5, 141.79, 142.73, 144.78, 144.64],'B':[898.7, 911.71, 906.69, 918.59, 900.99],
        'C':[155.58, 153.67, 155.36, 152.94, 153.49]}
data_index = pd.date_range('2021-07-30',periods = 5, freq = 'D') #Ser range and periods for the data
df = pd.DataFrame(dict, index = data_index) #Indexation
print(df)

                 A       B       C
2021-07-30  143.50  898.70  155.58
2021-07-31  141.79  911.71  153.67
2021-08-01  142.73  906.69  155.36
2021-08-02  144.78  918.59  152.94
2021-08-03  144.64  900.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [162]:
df = ex_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2022-01-24    160.953964
2022-01-25    159.121536
2022-01-26    159.031921
2022-01-27    158.563858
2022-01-28    169.628082
Name: Close, dtype: float64
Date
2022-01-24    162294600
2022-01-25    115798400
2022-01-26    108275300
2022-01-27    121954600
2022-01-28    179935700
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [163]:
ex_2016 = df['2016']
ex_month = ex_2016.resample('M').agg(lambda x: x[-1])
print(ex_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197  257666000        0.0
2016-02-29  22.325654  22.641431  22.277250  22.286470  140865200        0.0
2016-03-31  25.289811  25.331300  25.096195  25.121550  103553600        0.0
2016-04-30  21.664136  21.832397  21.323005  21.606512  274126000        0.0
2016-05-31  23.096982  23.282501  22.916103  23.157276  169228800        0.0
2016-06-30  21.900388  22.208810  21.867922  22.169388  143345600        0.0
2016-07-31  24.161388  24.244871  24.043120  24.166025  110934800        0.0
2016-08-31  24.635014  24.847183  24.630350  24.737600  118649600        0.0
2016-09-30  26.220459  26.432630  26.066579  26.358021  145516400        0.0
2016-10-31  26.497912  26.633142  26.392992  26.472265  105677600        0.0
2016-11-30  26.153541  26.294151  25.841854  25.900442  144649200        0.0
2016-12-31  27.337011  27.465903  27.051103  27.142500  122345200        0.0

            Stock Splits
Date
2016-01-31           0.0
2016-02-29           0.0
2016-03-31           0.0
2016-04-30           0.0
2016-05-31           0.0
2016-06-30           0.0
2016-07-31           0.0
2016-08-31           0.0
2016-09-30           0.0
2016-10-31           0.0
2016-11-30           0.0
2016-12-31           0.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [164]:
ex_bar = ex_month[['Open', 'High', 'Low', 'Close']]
print(ex_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197
2016-02-29  22.325654  22.641431  22.277250  22.286470
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096982  23.282501  22.916103  23.157276
2016-06-30  21.900388  22.208810  21.867922  22.169388
2016-07-31  24.161388  24.244871  24.043120  24.166025
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220459  26.432630  26.066579  26.358021
2016-10-31  26.497912  26.633142  26.392992  26.472265
2016-11-30  26.153541  26.294151  25.841854  25.900442
2016-12-31  27.337011  27.465903  27.051103  27.142500

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [165]:
print(ex_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096982  23.282501  22.916103  23.157276
2016-06-30  21.900388  22.208810  21.867922  22.169388

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [167]:
import numpy as np

above = ex_bar[ex_bar.Close > np.mean(ex_bar.Close)] #Organize table using operations
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220459  26.432630  26.066579  26.358021
2016-10-31  26.497912  26.633142  26.392992  26.472265
2016-11-30  26.153541  26.294151  25.841854  25.900442
2016-12-31  27.337011  27.465903  27.051103  27.142500

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [168]:
ex_bar['rate_return'] = ex_bar.Close.pct_change()
print(ex_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197          NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773
2016-06-30  21.900388  22.208810  21.867922  22.169388    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220459  26.432630  26.066579  26.358021     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153541  26.294151  25.841854  25.900442    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [169]:
missing = ex_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [170]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [171]:
drop = ex_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = ex_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773
2016-06-30  21.900388  22.208810  21.867922  22.169388    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220459  26.432630  26.066579  26.358021     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153541  26.294151  25.841854  25.900442    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730610  22.315197  21.629740  22.315197     0.000000
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096982  23.282501  22.916103  23.157276     0.071773
2016-06-30  21.900388  22.208810  21.867922  22.169388    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220459  26.432630  26.066579  26.358021     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153541  26.294151  25.841854  25.900442    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [106]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'MAC')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'ANDROID')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

      MAC  ANDROID
0  143.50   898.70
1  144.09   911.71
2  142.73   906.69
3  144.18   918.59
4  143.77   926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(ex_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([ex_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [107]:
df_volume = ex_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = ex_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600           0.0
2016-11-30  144649200           0.0
2016-12-31  122345200           0.0
2017-01-31  196804000           0.0
2017-02-28   93931600           0.0
2017-03-31   78646800           0.0
2017-04-30   83441600           0.0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337008  27.465899  27.051099  27.142496
2017-01-31  28.391586  28.447830  28.267381  28.438456
2017-02-28  32.264068  32.348800  32.174627  32.242886
2017-03-31  33.826908  33.956360  33.659796  33.812786
2017-04-30  33.913998  33.963427  33.720999  33.810436

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [108]:
concat = pd.concat([ex_bar, df_volume], axis = 1) #Concatenate a pandas variable in "axis"
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [112]:
concat = pd.concat([ex_bar,df_volume],axis = 1, join = 'inner') #Concatenate pandas variables by merging them
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600           0.0
2016-11-30  144649200           0.0
2016-12-31  122345200           0.0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [111]:
append = ex_bar.append(df_2017) #Normal append but in a pandas series
print(append)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN        NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288        NaN
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211        NaN
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921        NaN
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773        NaN
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660        NaN
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063        NaN
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652        NaN
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504        NaN
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334        NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601        NaN
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955        NaN
2016-10-31        NaN  26.633140  26.392990  26.472263          NaN  26.497910
2016-11-30        NaN  26.294146  25.841849  25.900436          NaN  26.153536
2016-12-31        NaN  27.465899  27.051099  27.142496          NaN  27.337008
2017-01-31        NaN  28.447830  28.267381  28.438456          NaN  28.391586
2017-02-28        NaN  32.348800  32.174627  32.242886          NaN  32.264068
2017-03-31        NaN  33.956360  33.659796  33.812786          NaN  33.826908
2017-04-30        NaN  33.963427  33.720999  33.810436          NaN  33.913998

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [110]:
concat = pd.concat([ex_bar, df_2017], axis = 0) #Concatenate a pandas variable in "axis"
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN        NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288        NaN
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211        NaN
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921        NaN
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773        NaN
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660        NaN
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063        NaN
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652        NaN
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504        NaN
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334        NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601        NaN
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955        NaN
2016-10-31        NaN  26.633140  26.392990  26.472263          NaN  26.497910
2016-11-30        NaN  26.294146  25.841849  25.900436          NaN  26.153536
2016-12-31        NaN  27.465899  27.051099  27.142496          NaN  27.337008
2017-01-31        NaN  28.447830  28.267381  28.438456          NaN  28.391586
2017-02-28        NaN  32.348800  32.174627  32.242886          NaN  32.264068
2017-03-31        NaN  33.956360  33.659796  33.812786          NaN  33.826908
2017-04-30        NaN  33.963427  33.720999  33.810436          NaN  33.913998

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [109]:
df_2017.columns = ['Change', 'High','Low','Close'] #Separate the columns to make easy to spot the table
concat = pd.concat([ex_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN        NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288        NaN
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211        NaN
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921        NaN
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773        NaN
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660        NaN
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063        NaN
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652        NaN
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504        NaN
2016-10-31  26.497910  26.633140  26.392990  26.472263     0.004334        NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601        NaN
2016-12-31  27.337008  27.465899  27.051099  27.142496     0.047955        NaN
2016-10-31        NaN  26.633140  26.392990  26.472263          NaN  26.497910
2016-11-30        NaN  26.294146  25.841849  25.900436          NaN  26.153536
2016-12-31        NaN  27.465899  27.051099  27.142496          NaN  27.337008
2017-01-31        NaN  28.447830  28.267381  28.438456          NaN  28.391586
2017-02-28        NaN  32.348800  32.174627  32.242886          NaN  32.264068
2017-03-31        NaN  33.956360  33.659796  33.812786          NaN  33.826908
2017-04-30        NaN  33.963427  33.720999  33.810436          NaN  33.913998

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.